.main-game {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    max-width: 450px;
    width: 90vw;
}

.board, .captured {
    position: relative;
    background-image: var(--board);
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    border-radius: 5px;
}

.board {
    aspect-ratio: 4/6;
    flex-grow: 4;

    background-size: calc(200%/4);
}

.captured {
    aspect-ratio: 1/4;
    flex-grow: 1;

    background-size: calc(200%);
}

.piece, .highlight, .hint, .capture-hint, .hover {
    /* image-rendering: auto; */
    aspect-ratio: 1/1;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    cursor: grab;
    cursor: -webkit-grab;
    touch-action: none;
    will-change: transform;
    /* transition: transform .2s ease; */
}

.captured-piece:nth-of-type(1) { top: 0%;}
.captured-piece:nth-of-type(2) { top: 25%;}
.captured-piece:nth-of-type(3) { top: 50%;}
.captured-piece:nth-of-type(4) { top: 75%;}

.hint {
    background-color: var(--trans-black);
    padding: 8%;
}

.capture-hint {
    border: 5px solid var(--trans-black);
}

.capture-hint, .hint {
    background-clip: content-box;
    border-radius: 50%;
    pointer-events: none;
}

.piece {
    z-index: 100;
}

.captured-piece {
    width: 100%;
    z-index: 250;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100%/6);
    padding: 1em;
    text-align: center;
    /* outline: 1px solid var(--bg3); */
    background-color: var(--bg3);

    position: absolute;
    z-index: 50;
}

.text.description {
    font-weight: bold;
    width: 100%;
    transform: translateY(100%);
}

.text.name {
    font-size: 1.5em;
    font-weight: bold;
    width: 75%;
    transform: translateY(500%);
}

.highlight {
    background-color: rgb(255, 191, 71);
    opacity: .5;
    z-index: 10;
}

.hover {
    box-shadow: inset 0 0 0 5px white;
    z-index: 20;
}

.dragging {
    cursor: grabbing;
    z-index: 300;
}

/* HEADER */

.game-header {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 5px;
    /* border: 5px solid var(--text); */
    background-color: var(--bg3);
    padding: 1em .5em;
    margin: 0 auto 1em;
}

.bttn-header {
    display: flex;
    transition: all .2s ease;
}

.bttn-header:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.bttn-header:hover:not(:disabled) {
    filter: brightness(1.2);
}

.bttn-icon {
    font-size: 1.5rem;
}

.reset-bttn {
    font-size: 1.5em;
    /* background-color: var(--bg2); */
}

.center-anchor {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
    .game-header {
        width: 100%;
    }

    .main-game {
        flex-direction: column-reverse;
        gap: 1em;
    }

    .bttn-icon {
        font-size: 2rem;
    }

    .board {
        width: 100%;
    }

    .captured {
        aspect-ratio: 4/1;
        width: 100%;
        background-size: 50%;
    }

    .captured-piece {
        width: 25%;
    }

    .captured-piece:nth-of-type(1) { top: auto; left: 0%;}
    .captured-piece:nth-of-type(2) { top: auto; left: 25%;}
    .captured-piece:nth-of-type(3) { top: auto; left: 50%;}
    .captured-piece:nth-of-type(4) { top: auto; left: 75%;}
}