@charset "UTF-8";
@import './variables.css';

/*Reset & root*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input, button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}

html {
    --bg: #1e1e1e;
    --bg2: #3c3d3f;
    --bg3: #292929;
    --text: #dde1e9;
}

body, button, input, textarea, a {
    color: var(--text);
    font-family: var(--font-main);
}

html, body {
    height: 100dvh;
    background: var(--bg);
    font-size: 18px;
    line-height: 1;
}

/* Footer */

.home-footer {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    font-size: inherit;
    gap: .75rem;
    bottom: 20px;
    right: 20px;
    z-index: 400;
}

.svg-footer {
    --size: 2.5rem;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
}

.home-footer > * {
    opacity: 1;
    transition: all .2s ease;
}

.home-footer a:hover, .home-footer button:hover {
    opacity: 0.8;
}

.button-footer {
    display: flex;
}

@media (max-width: 500px) {
    .svg-footer {
        --size: 2rem;
    }

    html, body {
        height: auto;
        font-size: .9rem;
    }

    body {
        padding: 2rem 0;
    }
}